footer {
    background: black;
    padding: 25px 0; 
    text-align: center;
    .footerContent {
        span svg {
            padding-top: 3px;
        }
        a {
            &:hover {
                color: royalblue;
            } 
        }
        
    }

    .infoContainer {
        display: flex;
        justify-content: space-between;
        padding: 50px 0 80px 0;
    }

    .infoContent {
        display: flex;
        .info {
            padding: 0 30px;
            p {
                padding: 20px 0;
                font-size: 1rem;
                opacity: 0.7;
            }
            li {
                padding: 5px 0;
                font-size: 0.8rem;
                
            }

        } 
    }

    .logo {
        justify-content: flex-start;
    }
}

