
.searchBar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
  .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
    padding: 10px 14px;
  }
  input {
    font-family: 'Poppins', sans-serif;
    background: rgba(255, 255, 255, 0.541);
    border: none;
    border-radius: 5px;
    
  }
  button {
      font-family: 'Poppins', sans-serif;
      border: none;
      background: #4169e1;
      color: white; 
      padding: 8px 25px; 
      border-radius: 25px ;
      cursor: pointer;
    }
  
}

.coverFlow {
    display: flex;
    justify-content: space-between;
  }
  
  .artContainer {
      img {
        width: 100%;
        border-radius: 5px;
        transition: transform 0.25s ease-in;
        // &:hover {
        //   transform: scale(1.1);
        // }
      }
      h3 {
        display: flex;
        justify-content: space-between;
        padding-top: 10px;
        font-weight: 600;
        font-size: 1.1rem;
        span {
          color: black;
          button {
            background: none;
            border: none;
            margin: 0;
            padding: 0;
            transition: transform 0.25s ease;
            &:hover {
                transform: scale(1.1);
            }
          }
        }
      }
      h4 {
        font-weight: 100;
        font-size: 0.8rem;
      }


  }

// swiper 

.mySwiper {
  overflow-x: hidden;
  .swiper {
    width: 30%;
    padding: 35px 0;
    overflow: visible;
    .swiper-button-next, .swiper-rtl .swiper-button-prev {
      right: -55px;
    }
    
    .swiper-button-prev, .swiper-rtl .swiper-button-next {
      left: -55px;
    }
    
    .swiper-button-next, .swiper-button-prev {
      z-index: -10;
      // color: #3b5ec5;
    }

    .swiper-wrapper {
      width: 0;
    }
  }
  
}



.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
  // padding-bottom: 75px;
  transition: all 0.5s;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.swiper-slide-prev, .swiper-slide-next {
  opacity: 50%;
  h3, h4 {
    opacity: 0;
  }
}

.swiper-slide-active {
  transition: opacity 0.5s ease-in-out;
  h3, h4 {
    transition: opacity 0.5s ease-in-out;
  }
}

.swiper-pagination {
  .swiper-pagination-bullet {
    width: calc((100% / 5) - 8px);
    height: 5px;
    border-radius: 5px;
    // --swiper-theme-color: #3b5ec5;
  }

}


