.mediaButtons {
    display: flex;
    justify-content: center;
    button {
        background: none;
        border: none;
        font-size: 2.5rem;
        transition: transform 0.25s ease;
        &:active {
            color: blue;
        }
        &:hover {
            transform: scale(1.1);
        }
    }
}

.playPause {
    button {
        font-size: 3rem;
    }
}

.mediaTime {
    text-align: center;
}

.mediaPlayer {
border-radius: 20px;
padding: 24px 24px 24px 24px;
box-shadow: 0 28px 28px rgba(0, 0, 0, 0.2);
margin: 0 auto;
// color: var(--white);
width: 60%;
}

.trackInfo {
    display: flex;
    img {
        width: 100px;
        height: 100px;
        margin-right: 10px;
        border-radius: 5px;
        
    }
    h3 {
        font-weight: 600;
        font-size: 1.1rem;
    }
    h4 {
        font-weight: 100;
        font-size: 0.8rem;
    }
    
}

input[type=range] {
	height: 10px;
	// -webkit-appearance: none;
    // -webkit-gradient: (linear, 0% 0%, 100% 0%, color-stop(currentPercentage, #fff), color-stop(currentPercentage, #777));
	width: 60%;
	margin-bottom: 10px;
	border-radius: 8px;
	background: royalblue;
	transition: background 0.2s ease;
	cursor: pointer;
}

.mediaContainerTop {
    display: flex;
    justify-content: space-between;

    .volumeControls {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: 50px;
        button {
            border: none;
            background: none;
            font-size: 1.2rem;
        
        }
        input[type=range] {
            width: 50%;
        }

    }
}