@media (max-width: 1000px) {
    .mySwiper {
        .swiper {
            width: 35%;
        }
    }

    .mediaContainer {
        width: 40%;
    }

    .volumeControls {
        width: 30%;
    }

    .trackInfo {
        width: 30%;
    }
}

@media (max-width: 750px) {

    header {
        position: relative;
        .navText {
            display: none;
        }
        .navIcon {
            display: block;
            ul {
                position: absolute;
                background-color: black;
                width: 125px;
                height: 125px;
                text-align: center;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
                right: -125px;
            }
            button {
                color: white;
                background: none;
                border: none;
            }
        }
        
        
    }

    .volumeControls {
        input[type="range"] {
            width: 100px;
        }
    }

    .trackInfo {
        img {
            width: 60px;
            height: 60px;
        }
    }

    .mediaTime {
        input[type="range"] {
            width: 175px;
        }
    }
}

@media (max-width: 650px) {
    .mediaContainer {
        .mediaButtons {
            button {
                font-size: 2rem;
            }
            .playPause {
                font-size: 2.5rem;
            }
        }
    }

    .mediaContainer {
        width: 60%;
    }

    .volumeControls {
        width: 20%;
    }

    .trackInfo {
        width: 20%;
        flex-direction: column;
    }
}

@media (max-width: 570px) {
    .searchBar {
        flex-direction: column;
    }
    // .trackTitle {
    //     display: block;
    // }
    // .trackInfo {
    //     h3, h4 {
    //         display: none;
    //     }
    // }
    .trackInfo {
        img {
            width: 60px;
            height: 60px;
        }
    }

    .volumeControls {
        display: none;
        // flex-direction: column;
        // height: 100px;
        // &:hover input[type=“range”] {
        //     opacity: 1;
        // }
        // button {
        //     margin: 30px;
        // }
        // input[type="range"] {
        //     width: 75px;
        //     transform: rotateZ(270deg);
        //     // opacity: 0;
        //     transition: opacity 0.35s ease-in-out;
        // }
    }
}

@media (max-width: 430px) {
    .mediaTime {
        p {
            display: none;
        }
    }

    .trackInfo {
        h3,
        h4 {
            font-size: 0.5rem;
        }
    }

    .mySwiper .swiper {
        width: 95%;
        padding-top: 0px;
    }

    .searchBar {
        padding: 15px;
        padding-bottom: 5px;
        input {
            width: 100%;
            padding-bottom: 10px;
        }
        button {
            margin-bottom: 10px;
        }
    }

    .pagesBtnContainer {
        height: 40px;
        padding: 35px 0;
    }
}

// mediaQuery

// header
// - dropdown menu for contact, login and signup
// - break point not necessary until ~750px

// landing page
// - break point not necessary until ~750px

// modal
// - break point not necessary until ~750px

// footer
// - break point not necessary until ~750px

// getMusic
// - shorten the search bar and make the top and bottom paddings smaller

// mediaPlayer
// - widen the media player at 1250px width
