.pagesBtnContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    button {
        border: none;
        color: black;
        font-size: 2rem;
        background: none;
    }
}