.pagesBtnContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 75px;
    button {
        border: none;
        color: black;
        font-size: 2.5rem;
        background: none;
        cursor: pointer;
    }
}